html, body {
	padding: 0;
	margin: 0;
	background-image: url(../images/background.png);
	background-size: cover;
	color: #fff;
	font-family: montserrat, sans-serif;
}

h1 {
	font-size:4em;
	font-weight: 600;
	padding-left: 10%;
}

h2 {
	font-size: 3em;
	padding-left: 14%;
    padding-top: 95%;
	margin: 0;
	font-weight: 500;
}

h3 {
	font-weight: 800;
	text-transform: uppercase;
	color: #2A4899;
}

h4 {
	text-align: center;
	font-weight: 600;
}

h5 {
	font-size: 1em;
	text-align: left;
	font-weight: 700;
	margin-bottom: 0.5em;
	margin-top: 1em;
}

h6 {
	font-size: 1em;
	font-weight: 700;
	margin: 0;
}

hr {
    display: block;
    position: relative;
    border-right: 3px solid #fff;
    border-top: 15px dotted #fff;
    color: #fff;
    width: 5px;
    top: -70px;
    left: -7px;
    height: 50px;
    border-bottom: none;
}

.container h5 {
	color: #B4E1FA;
}

#profil {
	position: absolute;
	color: #2A4899;
	bottom: 165px;
	font-size: 2em;
	font-weight: 800;
}

section {
	padding: 5%;
	display: flex;
	justify-content: space-around;
}

.identity-bloc {
	position: relative;
	width: 100%;
}

header {
	display: flex;
	justify-content: center;
	background-image: url('../images/border-identity.png');
	background-size: contain;
	width: 100%;
	z-index: 1;
	height: 495px;
	background-position: center;
	background-repeat: no-repeat;
}

#martin {
	width: 14%;
	height: auto;	
	position: absolute;
	z-index: 0;
    left: 105px;
    top: 104px;
}

.name-bloc {
	display: block;
	padding: 0;
}

.text-presentation {
	display: block;
	width: 100%;
	padding: 5%;
	margin: 5%;
}

a {
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	line-height: 2em;
}

ul {
	list-style: none;
	margin: 0;
}

li {
	font-weight: 300;
}

p {

}

li, p {
	line-height: 1.5em;
	text-align: left;
}

.xp {
	padding: 50px;
	width: 100px;
	background-color: rgb(168 217 245 / 52%);
	border-radius: 50%;
	border: 2px solid #fff;
	margin: 20px;
}

.xp-word {
	position: relative;
	bottom: 70px;
	margin: 0;
	letter-spacing: 3px;
}

.container {
	margin-top: 10%;
}

.container {
	padding-left: 0;
}

.flex-skills h5 {
	margin-right: 5em;
}

.points {
	display: flex;
	justify-content: center;
	align-items: center;
}

.blue-point {
	background-color: #2a4899;
	width: 30px;
	height: 30px;
	border: 2px solid #fff;
	border-radius: 50%;
	margin: 10px;
}

.grey-point {
	background-color: #61615c;
	width: 30px;
	height: 30px;
	border: 2px solid #fff;
	border-radius: 50%;
	margin: 10px;
}

#numbers {

}

.number {
	font-size: 10em;
	font-weight: 200;
	color: #B4E1FA;
	margin: 0;
	line-height: 1em;
}

.xp-pro {
	margin: 11%;
	margin-left: 0;
}

.flex {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}


.flex-skills {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.layering {
	position: relative;
}

.l1 {
    left: 58px;
}

.l2 {
	left: -40px
}

.l3 {
    left: -140px;
}

.flex .icons {
	margin: 20px;
	text-align: center;
}

.flex .icons img {
	width: auto;
	max-width: 100px;
	height: 80px;
}

#line {
	height: 210px;
    position: absolute;
    right: 310px;
    top: 51px;
}

.flex .lg {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

.flex .lg img {
	width: 150px;
	max-width: 200px;
	height: auto;
}

.flex .lg p {
	position: absolute;
}

@media (max-width: 1880px) {
	#profil {
		bottom: 155px;
	}

	#martin {
		left: 100px;
    	top: 126px;
	}
}

@media (max-width: 1800px) {
	#profil {
		bottom: 143px;
	}
}

@media (max-width: 1730px) {
	#profil {
		bottom: 156px;
	}

	h2 {
		font-size: 2.5em;
    	padding-top: 115%;
	}
}

@media (max-width: 1670px) {
	#profil {
		bottom: 150px;
	}

	#martin {
		left: 93px;
	}
}

@media (max-width: 1600px) {
	h1 {
		margin-block-start: 1.2em;
    	margin-block-end: 0.2em;
	}

	#profil {
		font-size: 1.7em;
	}

	h2 {
		padding-top: 120%;
	}

	#martin {
		left: 87px;
   		top: 132px;
    	height: 33%;
	}
}

@media (max-width: 1530px) {
	#profil {
		font-size: 1.7em;
		bottom: 140px;
	}

	h2 {
		padding-top: 125%;
	}
}

@media (max-width: 1490px) {
	#profil {
		font-size: 1.6em;
		bottom: 160px;
	}

	h2 {
		font-size: 2.2em;
		padding-top: 145%;
	}
}

@media (max-width: 1400px) {
	section {
		flex-wrap: wrap;
	}

	header {
		width: auto;
	}

	#profil {
		bottom: 495px;
	}

	#martin {
		left: 387px;
    	top: 94px;
    	width: 19%;
    	height: 30%;
	}

	h2 {
		font-size: 2.2em;
    	padding-left: 30%;
    	padding-top: 125%;
	}

	.name-bloc {
		padding-left: 10%;
	}
}

@media (max-width: 1370px) {
	#profil {
		bottom: 485px;
	}

	#martin {
		left: 369px;
	}
}

@media (max-width: 1330px) {
	#profil {
		bottom: 475px;
	}

	#martin {
	    left: 356px;
	}
}

@media (max-width: 1290px) {
	#profil {
		bottom: 488px;
	}

	#martin {
		left: 340px;
	}
}

@media (max-width: 1250px) {
	#profil {
		bottom: 518px;
	}

	#martin {
		left: 386px;
	    top: 127px;
	    width: 16%;
	    height: auto;
	}

	h2 {
		padding-top: 150%;
	}
}

@media (min-width: 500px) and (max-width: 1200px) {
	h2 {
		padding-left: 25%;
    	padding-top: 130%;
	}

	header {
		width: 600px;
	}

	.name-bloc {
		padding-left: 5%;
	}

}