html, body {
	padding: 0;
	margin: 0;
	background-image: url(../images/background.png);
	background-size: cover;
	color: #fff;
	font-family: montserrat, sans-serif;
}

h1 {
	font-size:4em;
	font-weight: 600;
}

h2 {
	font-size: 3em;
	padding: 10%;
	margin: 0;
	font-weight: 500;
}

h3 {
	font-weight: 800;
	text-transform: uppercase;
	color: #2A4899;
}

h4 {
	text-align: center;
	font-weight: 600;
}

h5 {
	font-size: 1em;
	text-align: left;
	font-weight: 700;
	margin-bottom: 0.5em;
}

h6 {
	font-size: 1em;
	font-weight: 700;
	margin: 0;
}

hr {
	display: block;
	position: relative;
	border-right: 3px solid #fff;
	border-top: 20px dotted #fff;
	color: #fff;
	width: 0;
	height: 50px;
}

.container h5 {
	color: #B4E1FA;
}

#profil {
	position: absolute;
	color: #2A4899;
	bottom: 85px;
	font-size: 2em;
	font-weight: 800;
}

section {
	padding: 5%;
	display: flex;
	justify-content: space-around;
}

.identity-bloc {
	position: relative;
	width: 100%;
}

header {
	display: flex;
	justify-content: center;
	border: 30px solid transparent;
	border-image: url('../images/border-identity.svg') 30;
	width: 100%;
}

#martin {
	width: 100%;
	height: auto;	
}

.photo-title {
	background-color: #000;

}

.name-bloc {
	display: block;
	padding: 5% 10% 3%;
	background-color: #1C2E64;
}

.text-presentation {
	display: block;
	width: 100%;
	padding: 5%;
	margin: 5%;
}

a {
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	line-height: 2em;
}

ul {
	list-style: none;
	margin: 0;
}

li {
	font-weight: 300;
}

p {

}

li, p {
	line-height: 1.5em;
	text-align: left;
}

.xp {
	padding: 35px;
	width: 100px;
	background-color: rgb(116 205 255 / 53%);
	border-radius: 50%;
	border: 2px solid #fff;
	margin: 20px;
}

.container {
	margin-top: 10%;
}

.points {
	display: flex;
	justify-content: center;
	align-items: center;
}

.blue-point {
	background-color: #2a4899;
	width: 50px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 50%;
	margin: 10px;
}

.grey-point {
	background-color: #61615c;
	width: 50px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 50%;
	margin: 10px;
}

.flex {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.flex .icons {
	width: 50%;
}

.flex .lg {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

.flex .lg p {
	position: absolute;
}

